Marzecbody {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
}

header {
    background-color: #395B42   ;
    color: white;
    padding: 10px;
}

main {
    margin-top: 20px;
}

footer {
    background-color: #395B42   ;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
